<header
    class="bg-white/95 backdrop-blur-md border-b border-gray-100 shadow-sm docked full-width top-0 sticky z-50 transition-all duration-300">
    <nav
        class="flex justify-between items-center h-20 px-6 md:px-12 max-w-7xl mx-auto font-['Work_Sans'] font-medium antialiased">
        <div class="flex items-center gap-2">
            <a href="index.html" class="flex items-center gap-2">
                <img src="src/Logo horizontal.png" alt="Suministros Impregan" class="h-10">
            </a>
        </div>
        <div class="hidden md:flex items-center space-x-8">
            <a class="nav-link text-slate-600 hover:text-primary transition-all duration-200" href="index.html"
                data-page-match="index">Inicio</a>
            <a class="nav-link text-slate-600 hover:text-primary transition-all duration-200" href="catalogo.html"
                data-page-match="catalogo">Catálogo</a>
            <a class="nav-link text-slate-600 hover:text-primary transition-all duration-200"
                href="index.html#servicios" data-page-match="">Servicios</a>
            <a class="nav-link text-slate-600 hover:text-primary transition-all duration-200" href="index.html#nosotros"
                data-page-match="">Nosotros</a>
            <a class="nav-link text-slate-600 hover:text-primary transition-all duration-200" href="index.html#contacto"
                data-page-match="">Contacto</a>
        </div>
        <div class="flex items-center gap-4">
            <a href="https://wa.me/573204718643" target="_blank"
                class="bg-green-600 text-white px-4 py-2 rounded-lg flex items-center gap-2 hover:bg-green-700 transition-all text-sm font-bold shadow-sm">
                <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
                    <path
                        d="M12.031 6.172c-3.181 0-5.767 2.586-5.768 5.766-.001 1.298.38 2.27 1.019 3.287l-.539 2.016 2.041-.536c1.011.544 1.912.846 3.22.847h.002c3.181 0 5.767-2.586 5.768-5.766 0-3.18-2.587-5.767-5.768-5.767m4.103 8.02c-.066.185-.383.353-.539.377-.157.025-.312.045-.903-.174-.362-.134-.789-.298-1.294-.515-1.43-.613-2.355-2.071-2.426-2.164-.071-.093-.579-.77-.579-1.468 0-.699.364-1.043.493-1.187.129-.144.283-.18.38-.18h.226c.074 0 .157.001.214.157.065.176.222.541.242.583.02.041.033.09.006.145-.027.054-.041.088-.082.135-.041.047-.086.105-.123.14-.037.035-.075.074-.033.146.041.072.182.298.39.485.267.241.492.315.622.378.129.063.205.053.282-.034.077-.087.329-.385.417-.516.088-.131.177-.11.298-.066.121.044.768.362.9.43.132.067.22.1.253.153.033.053.033.31-.033.496m-4.102-12.19c-5.523 0-10 4.477-10 10 0 1.74.443 3.391 1.258 4.866l-1.289 4.811 4.934-1.293c1.44.783 3.085 1.223 4.832 1.223h.002c5.522 0 10-4.477 10-10 0-5.523-4.478-10-10-10z" />
                </svg>
                Cotiza
            </a>
        </div>
    </nav>
</header>